<template>
  <div class="addgoods">
    <bread-crumb :arr="breadCrumbObj"></bread-crumb>
     <h2 style="margin: 10px 0; font-weight: 500; font-size: revert">
      新增商品
    </h2>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="form"
      label-width="100px"
      class="demo-ruleForm"
      style="font-size: 14px;"
    >
      <el-form-item label="商品名称" prop="name">
        <el-input v-model="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item label="商品描述" prop="subtitle">
        <el-input v-model="ruleForm.subtitle"></el-input>
      </el-form-item>
      <el-form-item label="商品一级分类">
        <el-select
          v-model="ruleForm.levelOneCategoryId"
          placeholder="请选择一级分类"
          @change="handleOneChange"
        >
          <el-option
            v-for="item in levelOneCategoryIds"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="商品二级分类" v-if="ruleForm.levelOneCategoryId">
        <el-select
          v-model="ruleForm.levelTwoCategoryId"
          placeholder="请选择二级分类"
        >
          <el-option
            v-for="_item in levelTwoCategoryIds"
            :key="_item.id"
            :label="_item.name"
            :value="_item.id"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="价格" prop="price">
        <el-input v-model="ruleForm.price" type="number"></el-input>
      </el-form-item>
      <el-form-item label="库存" prop="stock">
        <el-input v-model="ruleForm.stock" type="number"></el-input>
      </el-form-item>
      <el-form-item label="上架状态">
        <el-switch
          v-model="ruleForm.status"
          active-text="上架"
          inactive-text="下架"
          :active-value="1"
          :inactive-value="2"
        >
        </el-switch>
      </el-form-item>
      <el-form-item label="图片上传" prop="subImages">
        <el-upload
          action="manage/product/upload.do"
          list-type="picture-card"
          name="upload_file"
          :multiple="true"
          :on-success="handleSuccess"
          :on-remove="handleRemove"
        >
          <i class="el-icon-plus"></i>
        </el-upload>
      </el-form-item>
      <el-form-item label="详情" prop="detail"> </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import qs from 'qs'
export default {
  data() {
    return {
      breadCrumbObj: [
        {
          title:'首页',
          pathName:'Menu'
        },
        {
          title:'商品',
        },
        {
          title:'商品列表',
          pathName:'Management'
        },
        {
          title:'新增商品',
        },
      ],
      ruleForm: {
        name: "",
        subtitle: "",
        price: 0,
        stock: 0,
        status: 1,
        detail: "",
        categoryId: 0,
        subImages: [],
        // 一级分类的id
        levelOneCategoryId: "",
        //二级分类的id
        levelTwoCategoryId: "",
      },
      rules: {
        name: [{ required: true, message: "请输入商品名称", trigger: "blur" }],
        subtitle: [
          { required: true, message: "请输入商品描述", trigger: "blur" },
        ],
        categoryId: [
          { required: true, message: "请输入分类", trigger: "blur" },
        ],
        price: [{ required: true, message: "请输入价格", trigger: "blur" }],
        stock: [{ required: true, message: "请输入库存", trigger: "blur" }],
        status: [{ required: true, trigger: "blur" }],
        // subImages: [{ required: true, message: "请输入图片", trigger: "blur" }],
        // detail: [{ required: true, message: "请输入详情", trigger: "blur" }],
      },
      // 一级分类的id
      levelOneCategoryIds: [],

      //二级分类的id
      levelTwoCategoryIds: [],
      dialogVisible: false,
    };
  },
  methods: {
    // 获取分类
    async gitOrder() {
      const res = await this.$axios(
        `manage/category/get_category.do?categoryId=0`
      );
      this.levelOneCategoryIds = res.data;
    },
    // 二级分类
    async handleOneChange(val) {
      const res = await this.$axios(
        `manage/category/get_category.do?categoryId=${val}`
      );
      this.levelTwoCategoryIds = res.data;
    },
    // 图片
    handleSuccess(res, file, fileLists) {
      this.ruleForm.subImages.push(file.response.data.uri);
    },
    handleRemove(res) {
      let uri = res.response.data.uri;
      this.ruleForm.subImages.splice(this.ruleForm.subImages.indexOf(uri), 1);
    },
    // 修改
    submitForm() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          const res = await this.$axios(
            `manage/product/save.do`,
            qs.stringify({
              ...this.ruleForm,
              categoryId: this.ruleForm.levelTwoCategoryId,
              subImages: this.ruleForm.subImages.join(),
            }),
            "POST"
          );
          this.$message({
            message: res.data,
            type: "success",
          });
          this.$router.push({
            name: "Management",
          });
        } else {
          return false;
        }
      });
    },
  },
  created() {
    this.gitOrder();
  },
};
</script>

<style scoped lang="scss">
.el-form-item__label {
  font-size: 12px !important;
}
</style>