<template>
  <div class="details">
    <bread-crumb :arr="breadCrumbObj"></bread-crumb>
    <h2 style="margin: 10px 0; font-weight: 500; font-size: revert">
      商品详情
    </h2>
    <div class="details-wrap">
      <div class="title">商品基本信息</div>
      <el-row>
        <el-col :span="8">
          <div>名称：{{ details.name }}</div>
        </el-col>
        <el-col :span="8">
          <div>标题：{{ details.subtitle }}</div>
        </el-col>
        <el-col :span="8">
          <div>商品分类：</div>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <div>价格： {{ "￥" + details.price }}</div>
        </el-col>
        <el-col :span="8">
          <div>上架状态： {{ details.status | brand }}</div>
        </el-col>
        <el-col :span="8">
          <div>库存：{{ details.stock }}</div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
       breadCrumbObj: [
        {
          title:'首页',
          pathName:'Menu'
        },
        {
          title:'商品',
        },
        {
          title:'商品列表',
          pathName:'Management'
        },
        {
          title:'商品详情',
        },
      ],
      details: [],
    };
  },
  methods: {
    async getDetails() {
      const res = await this.$axios(
        `manage/product/detail.do?productId=${this.$route.query.productId}`,{},"POST"
      );
      this.details = res.data;
      console.log(this.details);
    },
  },
  filters: {
    brand(val) {
      var brand;
      if (val == 1) {
        brand = "在售";
      } else if (val == 2) {
        brand = "已下架";
      }
      return brand;
    },
  },
  created() {
    this.getDetails();
  },
};
</script>

<style scoped lang="scss">
.details-wrap {
  padding: 40px;
  min-height: 360px;
  font-size: 14px;
  .title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 15px;
  }
  .el-row{
    margin-bottom: 20px !important;
  }
}
</style>