<template>
  <div class="edit">
    <bread-crumb :arr="breadCrumbObj"></bread-crumb>
    <h2 style="margin: 10px 0; font-weight: 500; font-size: revert">
      编辑商品
    </h2>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="form"
      label-width="100px"
      class="demo-ruleForm"
      style="font-size: 14px"
    >
      <el-form-item label="商品名称" prop="name">
        <el-input v-model="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item label="商品描述" prop="subtitle">
        <el-input v-model="ruleForm.subtitle"></el-input>
      </el-form-item>
      <el-form-item label="商品一级分类" prop="categoryId">
        <el-select v-model="levelOneCategoryId" placeholder="请选择">
          <el-option
            v-for="item in one"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item required v-if="black" label="商品二级分类">
        <el-select v-model="levelTwoCategoryId" placeholder="请选择">
          <el-option
            v-for="_item in two"
            :key="_item.id"
            :label="_item.name"
            :value="_item.id"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="价格" prop="price">
        <el-input v-model="ruleForm.price"></el-input>
      </el-form-item>
      <el-form-item label="库存" prop="stock">
        <el-input v-model="ruleForm.stock"></el-input>
      </el-form-item>
      <el-form-item label="上架状态">
        <el-switch
          v-model="ruleForm.status"
          :active-value="1"
          :inactive-value="2"
          inactive-text="下架"
          active-text="上架"
        >
        </el-switch>
      </el-form-item>
      <el-form-item label="图片上传" prop="mainImage">
        <el-upload
          action="https://jsonplaceholder.typicode.com/posts/"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleRemove"
        >
          <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="" />
        </el-dialog>
      </el-form-item>
      <el-form-item label="详情" prop="detail"> </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm">修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: [
        {
          title: "首页",
          pathName: "Menu",
        },
        {
          title: "商品",
        },
        {
          title: "商品列表",
          pathName: "Management",
        },
        {
          title: "编辑商品",
        },
      ],
      ruleForm: {},
      rules: {
        name: [{ required: true, message: "请输入商品名称", trigger: "blur" }],
        subtitle: [
          { required: true, message: "请输入商品描述", trigger: "blur" },
        ],
        categoryId: [
          { required: true, message: "请输入分类", trigger: "blur" },
        ],
        price: [{ required: true, message: "请输入价格", trigger: "blur" }],
        stock: [{ required: true, message: "请输入库存", trigger: "blur" }],
        status: [{ required: true, trigger: "blur" }],
        mainImage: [{ required: true, message: "请输入图片", trigger: "blur" }],
        detail: [{ required: true, message: "请输入详情", trigger: "blur" }],
      },
      one: [],
      two: [],
      // 一级分类的id
      levelOneCategoryId: "",

      black: false,
      //二级分类的id
      levelTwoCategoryId: "",
      dialogVisible:false,
      dialogImageUrl:''
    };
  },
  methods: {
    async gitEdit() {
      const res = await this.$axios(
        `manage/product/detail.do?productId=${this.$route.query.productId}`
      );
      this.ruleForm = res.data;
      this.ruleForm = Object.assign({}, this.ruleForm);
      // this.ruleForm = JSON.parse(JSON.stringify(this.ruleForm));
    },
    // 获取分类
    async gitOrder() {
      const res = await this.$axios(
        `manage/category/get_category.do?categoryId=0`
      );
      // console.log(res)
      this.one = res.data;
    },
    async Tow(id) {
      this.black = true;
      const ress = await this.$axios(
        `manage/category/get_category.do?categoryId=${id}`,
        "GET"
      );
      this.two = ress.data;
    },
    // 图片
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },

    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    // 修改
    submitForm() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          const obj = new FormData();
          obj.append("name", this.ruleForm.name);
          obj.append("subtitle", this.ruleForm.subtitle);
          obj.append("price", this.ruleForm.price);
          obj.append("stock", this.ruleForm.stock);
          obj.append("status", this.ruleForm.status);
          obj.append("detail", this.ruleForm.detail);
          obj.append("id", this.ruleForm.id);
          obj.append("levelOneCategoryId", this.levelOneCategoryId);
          obj.append("levelTwoCategoryId", this.levelTwoCategoryId);
          obj.append("categoryId", this.ruleForm.categoryId);
          const res = await this.$axios(`manage/product/save.do`, obj, "POST");
          this.$message({
            message: res.data,
            type: "success",
          });
          this.$router.push({
            name: "Management",
          });
        } else {
          return false;
        }
      });
    },
  },
  // 二级
  watch: {
    levelOneCategoryId: {
      handler(val) {
        this.Tow(val);
      },
    },
  },
  created() {
    this.gitEdit();
    this.gitOrder();
  },
};
</script>

<style scoped lang="scss">
.el-form-item__label {
  font-size: 12px !important;
}
</style>