<template>
  <div class="vieworder">
    <bread-crumb :arr="breadCrumbObj"></bread-crumb>
    <h2 style="margin: 10px 0; font-weight: 500; font-size: revert">
      订单详情
    </h2>
    <div class="details-wrap">
      <div>
        <div class="title">订单基本信息</div>
        <el-row>
          <el-col :span="8">
            <div>订单号：{{ vieworderData.orderNo }}</div>
          </el-col>
          <el-col :span="8">
            <div>创建时间：{{ vieworderData.createTime }}</div>
          </el-col>
          <el-col :span="8">
            <div>支付状态：{{ vieworderData.statusDesc }}</div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <div>支付方式：{{ vieworderData.paymentTypeDesc }}</div>
          </el-col>
          <el-col :span="8">
            <div>订单金额： {{ "￥" + vieworderData.payment }}</div>
          </el-col>
        </el-row>
      </div>
      <div>
        <div class="title">收件人信息</div>
        <el-row>
          <el-col :span="8">
            <div>收件人：{{ vieworderData2.receiverName }}</div>
          </el-col>
          <el-col :span="8">
            <div>联系电话：无</div>
          </el-col>
          <el-col :span="8">
            <div>
              收货地址：{{
                vieworderData2.receiverProvince +
                "-" +
                vieworderData2.receiverCity +
                "-" +
                vieworderData2.receiverAddress
              }}
            </div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <div>邮政编码：{{ vieworderData2.receiverZip }}</div>
          </el-col>
        </el-row>
      </div>
      <div>
        <div class="title">商品信息</div>
        <el-table :data="vieworderGoods" style="width: 100%">
          <el-table-column prop="productImage" label="图片">
          </el-table-column>
          <el-table-column prop="productName" label="名称">
          </el-table-column>
          <el-table-column prop="currentUnitPrice" label="单价">
          </el-table-column>
          <el-table-column prop="quantity" label="数量">
          </el-table-column>
          <el-table-column prop="totalPrice" label="总价">
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: [
        {
          title:'首页',
          pathName:'Menu'
        },
        {
          title:'订单',
        },
        {
          title:'订单管理',
          pathName:'Order'
        },
        {
          title:'订单详情',
        },
      ],
      vieworderData: [],
      vieworderData2: [],
      vieworderGoods: [],
    };
  },
  methods: {
    async getVieworder() {
      const res = await this.$axios(
        `manage/order/detail.do?orderNo=${this.$route.query.orderNo}`,
        {},
        "POST"
      );
      this.vieworderData = res.data;
      this.vieworderData2 = res.data.shippingVo;
      this.vieworderGoods = res.data.orderItemVoList;
    },
  },
  created() {
    this.getVieworder();
  },
};
</script>

<style scoped lang="scss">
.details-wrap {
  padding: 40px;
  min-height: 360px;
  font-size: 14px;
  .title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 15px;
  }
  .el-row {
    margin-bottom: 20px !important;
  }
}
</style>