<template>
  <div class="category">
    <bread-crumb :arr="breadCrumbObj"></bread-crumb>
    <h2 style="margin: 10px 0; font-weight: 500; font-size: revert">
      一级品类管理
    </h2>
    <div>
      <el-button type="primary" @click="addcategory">新增</el-button>
    </div>
    <el-table :data="cateUser" style="width: 100%">
      <el-table-column prop="name" label="名称" width="635"> </el-table-column>
      <el-table-column label="管理">
        <template  slot-scope="scope">
          <el-button size="mini" @click="Modify(scope.$index, scope.row)"
            >修改</el-button
          >
          <el-button size="mini" @click="subcategories(scope.$index, scope.row)"
            >查看子分类</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px; text-align: right"
      :current-page="params.pageNum"
      :page-size="params.pageSize"
      layout="prev, pager, next"
      :total="581"
      @current-change="handleCurrentChange"
    >
    </el-pagination>
    <!-- 新增 -->
    <el-dialog title="新增品类" :visible.sync="dialog" width="30%">
      <el-form :model="Newcategory.Singles">
        <el-form-item label="父级品类" label-width="80px">
          <el-select v-model="ond" placeholder="请选择活动区域">
            <el-option
              :label="item.name"
              :value="item.id"
              v-for="item in Newcategory.from"
              :key="item.id"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="名称" label-width="80px">
          <el-input
            v-model="Newcategory.mingcheng"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <el-button @click="dialog = false">取 消</el-button>
      <el-button type="primary" @click="dialogss">确 定</el-button>
    </el-dialog>
    <!-- 修改 -->
    <el-dialog title="修改品类[]名称" :visible.sync="dialogVisible" width="30%">
      <el-form :model="Singles">
        <el-form-item label="名称" label-width="40px">
          <el-input v-model="Singles.name" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <el-button @click="dialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="dialogVisibless">确 定</el-button>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: [
        {
          title:'首页',
          pathName:'Menu'
        },
        {
          title:'一级品类管理',
        },
      ],
      params: {
        pageNum: 1,
        pageSize: 10,
      },
      cateUser: [],
      total: [],

      // 新增
      dialog: false,
      Newcategory: {
        from: [],
        singles: [],
        mingcheng: "",
      },
      ond: "",
      // 修改
      dialogVisible: false,
      Singles: [],
    };
  },
  methods: {
    async getCate() {
      const res = await this.$axios(`manage/category/get_category.do`);

      this.cateUser = res.data.splice(0, 10);
    },
    // 分页
    async handleCurrentChange(val) {
      const res = await this.$axios(
        `manage/category/get_category.do`,
        {},
        "GET",
        {
          ...this.params,
          pageNum: val,
        }
      );
      this.params.pageNum = val;
      this.cateUser = res.data.splice((val - 1) * 10, (val - 1) * 10 + 10);
    },
    // 新增
    async addcategory() {
      this.dialog = true;
      const res = await this.$axios(
        `manage/category/get_category.do?categoryId=0`,
        "GET"
      );
      this.Newcategory.from = res.data;
    },
    async dialogss() {
      const res = await this.$axios(
        `manage/category/add_category.do?parentId=${this.ond}&categoryName=${this.Newcategory.mingcheng}`,
        "POST"
      );
      this.$message({
        showClose: true,
        message: res.data,
        type: "success",
      }),
        (this.dialog = false);
      this.Newcategory.mingcheng = "";
    },
    //修改
    Modify(index, row) {
      this.dialogVisible = true;
      this.Singles = row;
    },
    async dialogVisibless() {
      const res = await this.$axios(
        `manage/category/set_category_name.do?categoryId=${this.Singles.id}&categoryName=${this.Singles.name}`,
        "POST"
      );
      (this.dialogVisible = false),
        this.$message({
          showClose: true,
          message: res.data,
          type: "success",
        });
    },
    //查看子分类
    subcategories(index, row) {
      // console.log(row)
      // Subclass
      this.$router.push({
        name: "Subclass",
        query: { order: row.id },
      });
    },
  },
  created() {
    this.getCate();
  },
};
</script>

<style>
</style>