<template>
  <div class="home">
    <el-container style="height: 100vh">
      <el-aside
        width="200px"
        style="background-color: rgb(0, 21, 41); overflow-x: hidden"
      >
        <h4 class="manage_logo">后台管理系统</h4>
        <el-menu
          :default-active="defaultActive"
          style="width: 200px"
          background-color="#001529"
          text-color="rgb(160, 161, 163)"
          active-text-color="#fff"
          router
          unique-opened
        >
          <el-submenu
            :index="'' + index"
            v-for="(item, index) in HomeTap"
            :key="item.id"
          >
            <template slot="title"
              ><i class="el-icon-message"></i>
              {{ item.Homename }}
            </template>
            <el-menu-item
              :index="'/' + item.path"
              :v-for="(item, index) in HomeTap"
              :key="item.id"
              >{{ item.Homename2 }}</el-menu-item
            >
            <!-- :index="'/'+item.path"-->
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="text-align: right; font-size: 12px">
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="open">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{ username }}</span>
        </el-header>

        <el-main class="manage_main">
          <div class="manage_main_wrap">
            <router-view></router-view>
          </div>

          <footer class="manage_main_footer">Copyright © 2020 1811最棒</footer>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
const HomeTap = [
  {
    id: "1",
    Homename: "仪表盘",
    Homename2: "首页",
    path: "home/menu",
  },
  {
    id: "2",
    Homename: "商品",
    Homename2: "商品管理",
    path: "home/management",
  },
  {
    id: "3",
    Homename: "品类",
    Homename2: "品类管理",
    path: "home/category",
  },
  {
    id: "4",
    Homename: "订单",
    Homename2: "订单管理",
    path: "home/order",
  },
  {
    id: "5",
    Homename: "用户",
    Homename2: "用户管理",
    path: "home/user",
  },
];
export default {
  name: "Home",
  data() {
    return {
      defaultActive: "",
      HomeTap,
      username: "",
    };
  },
  watch: {
    $route: {
      deep: true,
      immediate: true,
      handler(current) {
        this.defaultActive = current.path;
      },
    },
  },
  methods: {
    open() {
      this.$confirm("此操作将退出, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "退出成功!",
          });
          setTimeout(() => {
            this.$router.push({
              name: "Login",
            });
          }, 500);
        })
        .catch(() => {
          this.$message({
            type: "warning",
            message: "已取消退出",
          });
        });
    },
    getItem(){
      this.username=sessionStorage.getItem('id')
    }
  },
  created() {
    this.getItem()
  },
};
</script>
<style lang="scss" scoped>
.home {
  .manage_logo {
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .el-header {
    background-color: #fff;
    color: #333;
    line-height: 60px;
  }
  .el-aside {
    color: #333;
  }
  .manage_main {
    background-color: rgb(238, 238, 238);
    text-align: left;
    .manage_main_wrap {
      padding: 15px;
      background-color: #fff;
      border-radius: 5px;
      height: calc(100vh - 100px);
      box-sizing: border-box;
      overflow-y: scroll;
    }
    .manage_main_footer {
      text-align: center;
      padding: 24px 50px;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      background: #f0f2f5;
    }
  }
}
</style>
