<template>
  <div class="login">
    <el-form class="demo-ruleForm" :rules="rules" ref="form" :model="userForm">
      <el-form-item prop="username">
        <el-input placeholder="请输入账号" v-model="userForm.username">
          <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input
          type="password"
          placeholder="请输入密码"
          v-model="userForm.password"
        >
          <el-button slot="prepend" icon="el-icon-lock"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="login" type="primary" class="width100"
          >登录</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    var validateName = (rule, value, callback) => {
      let paten = /^[a-zA-Z0-9_-]{4,16}$/;
      if (!paten.test(value)) {
        callback(new Error("请输入账号"));
      } else {
        callback();
      }
    };
    return {
      userForm: {
        username: "admin",
        password: "admin",
      },
      rules: {
        username: [{ validator: validateName, trigger: "change" }],
        password: [
          {
            required: true,
            message: "请输入密码",
            trigger: "blur",
          },
        ],
      },
    };
  },
  methods: {
    login() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          const obj = new FormData()
          obj.append('username', this.userForm.username)
          obj.append('password', this.userForm.password)
          const res = await this.$axios(`manage/user/login.do`,  obj, "POST");
          let setItem=res.data.username
          sessionStorage.setItem('id',setItem)
          this.$router.push({
            name: "Home",
          });
        } else {
          return false;
        }
      });
    },
  },
};
</script>

<style scoped lang="scss">
.login {
  background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .width100 {
    width: 100%;
  }
}
</style>