<template>
  <div class="management">
    <bread-crumb :arr="breadCrumbObj"></bread-crumb>
    <h2 style="margin: 10px 0; font-weight: 500; font-size: revert">
      商品列表
    </h2>
    <el-form ref="form" label-width="80px">
      <el-form-item label="关键词:">
        <el-input
          style="width: 320px"
          v-model="query"
          @keyup.enter.native="search"
          clearable
          @clear="gitGoods"
        ></el-input>
        <div style="float: right">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button @click="empty">清空</el-button>
        </div>
        <div>
          <el-button type="primary" @click="Add()">新增</el-button>
        </div>
      </el-form-item>
    </el-form>
    <el-table :data="goods.list" style="width: 100%">
      <el-table-column prop="name" label="名称" width="500px">
      </el-table-column>
      <el-table-column prop="subtitle" label="标题"> </el-table-column>
      <el-table-column label="价格">
        <template slot-scope="scope">
          {{ "￥" + scope.row.price }}
        </template>
      </el-table-column>
      <el-table-column prop="status" label="商品状态">
        <template slot-scope="scope">
          {{ scope.row.status | brand }}
          <el-button size="small" @click="goodsState(scope.row)">{{
            scope.row.status == 1 ? "设置下架" : "设置上架"
          }}</el-button>
        </template>
      </el-table-column>
      <el-table-column label="管理">
        <template slot-scope="scope">
          <span @click="details(scope.row)">查看详细</span>|
          <span @click="edit(scope.row)">编辑</span>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px; text-align: right"
      :current-page="params.pageNum"
      :page-size="params.pageSize"
      layout="prev, pager, next"
      :total="goods.total"
      @current-change="handleCurrentChange"
    >
    </el-pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: [
        {
          title:'首页',
          pathName:'Menu'
        },
        {
          title:'用户管理',
        },
        {
          title:'商品列表',
        },
      ],
      goods: {
        list: [],
      },
      query: "",
      params: {
        productName: "",
        pageNum: 1,
        pageSize: 10,
      },
    };
  },
  methods: {
    async gitGoods() {
      const res = await this.$axios(`manage/product/list.do`);
      this.goods.list = res.data.list;
      this.goods = res.data;
    },
    // 页码跳转
    async handleCurrentChange(val) {
      const res = await this.$axios(`manage/product/list.do`, {}, "GET", {
        ...this.params,
        pageNum: val,
      });
      this.params.pageNum = val;
      this.goods = res.data;
    },
    // 清空
    empty() {
      this.query = "";
      this.gitGoods();
    },
    // 搜索
    async search() {
      const res = await this.$axios(`manage/product/search.do`, {}, "GET", {
        ...this.params,
        productName: this.query,
      });
      this.params.productName = this.query;
      this.goods.list = res.data.list;
    },
    // 设置下架
    async goodsState(val) {
      const res = await this.$axios(
        `manage/product/set_sale_status.do?productId=${val.id}&status=${
          val.status == 1 ? 2 : 1
        }`,
        {},
        "POST"
      );
      this.$message({
        message: res.data,
        type: "success",
      });
      this.gitGoods();
    },
    // 详情
    details(val) {
      this.$router.push({
        name: "Details",
        query: { productId: val.id },
      });
    },
    // 编辑
    edit(val) {
      this.$router.push({
        name: "Edit",
        query: { productId: val.id },
      });
    },
    // 新增
    Add(){
      this.$router.push({
        name: "Addgoods",
      });
    }
  },
  filters: {
    brand(val) {
      var brand;
      if (val == 1) {
        brand = "在售";
      } else if (val == 2) {
        brand = "已下架";
      }
      return brand;
    },
  },
  created() {
    this.gitGoods();
  },
};
</script>

<style scoped lang="scss">
</style>