<template>
  <div class="menu">
    <el-row :gutter="10">
      <el-col :sm="8">
        <router-link to="user">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>用户总数</span>
            </div>
            <div>{{ Menus.data.orderCount }}</div>
          </el-card>
        </router-link>
      </el-col>
      <el-col :sm="8">
        <router-link to="management">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>商品总数</span>
            </div>
            <div>{{ Menus.data.productCount }}</div>
          </el-card>
        </router-link>
      </el-col>
      <el-col :sm="8">
        <router-link to="management">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>订单数</span>
            </div>
            <div>{{ Menus.data.userCount }}</div>
          </el-card>
        </router-link>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      Menus: {
        data: [],
      },
    };
  },
  methods: {
    async Menu() {
      const res = await this.$axios(`manage/statistic/base_count.do`);
      this.Menus = res;
    },
  },
  created() {
    this.Menu();
  },
};
</script>

<style lang="scss" scoped>
.menu {
  padding: 40px;
  min-height: 360px;
  a {
    text-decoration: none;
  }
}
</style>