<template>
  <div class="order">
    <bread-crumb :arr="breadCrumbObj"></bread-crumb>
    <h2 style="margin: 10px 0; font-weight: 500; font-size: revert">
      订单管理
    </h2>
    <el-form ref="form" label-width="80px">
      <el-form-item label="订单号:">
        <el-input style="width: 320px" v-model="query" clearable @clear="getOrder"></el-input>
        <div style="float: right">
          <el-button type="primary" @click="search">搜索</el-button>
          <el-button @click="empty">清空</el-button>
        </div>
      </el-form-item>
    </el-form>
    <el-table :data="orderData" style="width: 100%">
      <el-table-column prop="orderNo" label="订单号"> </el-table-column>
      <el-table-column prop="receiverName" label="收件人"> </el-table-column>
      <el-table-column prop="statusDesc" label="订单状态"> </el-table-column>
      <el-table-column prop="payment" label="订单总价">
        <template slot-scope="scope">
          {{ "￥" + scope.row.payment }}
        </template>
      </el-table-column>
      <el-table-column prop="createTime" label="创建时间"> </el-table-column>
      <el-table-column label="操作"> 
        <template slot-scope="scope">
          <span @click="details(scope.row)">查看详细</span>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px; text-align: right"
      :current-page="params.pageNum"
      :page-size="params.pageSize"
      layout="prev, pager, next"
      :total="total.total"
      @current-change="handleCurrentChange"
    >
    </el-pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: [
        {
          title:'首页',
          pathName:'Menu'
        },
        {
          title:'订单',
        },
        {
          title:'订单管理',
        },
      ],
      query: "",
      orderData: [],
      total: [],
      params: {
        orderNo: "",
        pageNum: 1,
        pageSize: 10,
      },
    };
  },
  methods: {
    empty() {
      this.query = "";
      this.getOrder()
    },
    async getOrder() {
      const res = await this.$axios(
        `manage/order/list.do`
      );
      this.orderData = res.data.list;
      this.total = res.data;
    },
    async handleCurrentChange(val) {
      const res = await this.$axios(`manage/order/list.do`, {}, "GET", {
        ...this.params,
        pageNum: val,
      });
      this.params.pageNum = val;
      this.orderData = res.data.list;
    },
    // 搜索
    async search() {
      const res = await this.$axios(`manage/order/search.do`, {}, "GET", {
        ...this.params,
        orderNo: this.query,
      });
      this.params.orderNo = this.query;
      this.orderData = res.data.list;
    },
    // 查看详情
    details(val){
       this.$router.push({
        name: "ViewOrder",
        query: { orderNo: val.orderNo },
      });
    }
  },
  created() {
    this.getOrder();
  },
};
</script>

<style>
</style>