<template>
  <div class="user">
    <bread-crumb :arr="breadCrumbObj"></bread-crumb>
    <h2 style="margin: 10px 0; font-weight: 500; font-size: revert">
      用户列表
    </h2>
    <el-table :data="userData" style="width: 100%">
      <el-table-column prop="username" label="账号"> </el-table-column>
      <el-table-column prop="phone" label="电话"> </el-table-column>
      <el-table-column prop="email" label="邮箱"> </el-table-column>
      <el-table-column prop="createTime" label="注册时间">
        <template slot-scope="slot">
          {{ slot.row.createTime | handleDate }}
        </template>
      </el-table-column>
      <el-table-column label="Action"> </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px; text-align: right"
      :current-page="params.pageNum"
      :page-size="params.pageSize"
      layout="prev, pager, next"
      :total="total.total"
      @current-change="handleCurrentChange"
    >
    </el-pagination>
  </div>
</template>

<script>
import dayjs from "dayjs";
export default {
  data() {
    return {
      breadCrumbObj: [
        {
          title:'首页',
          pathName:'Menu'
        },
        {
          title:'用户列表',
        },
      ],
      userData: [],
      total: [],
      params: {
        pageNum: 1,
        pageSize: 10,
      },
    };
  },
  methods: {
    async getUser() {
      const res = await this.$axios(`manage/user/list.do`);
      this.userData = res.data.list;
      this.total = res.data;
    },
    async handleCurrentChange(val) {
      const res = await this.$axios(`manage/user/list.do`, {}, "GET", {
        ...this.params,
        pageNum: val,
      });
      this.params.pageNum = val;
      this.userData = res.data.list;
    },
  },
  filters: {
    handleDate(val) {
      return dayjs(val).format("YYYY-MM-DD HH:mm:ss");
    },
  },
  created() {
    this.getUser();
  },
};
</script>

<style>
</style>