<template>
  <div class="goods_nav">
    <div class="goods">
      <bread-crumb :arr="breadCrumbObj"></bread-crumb>
      <div class="goods_top">
        <h3>二级品类管理</h3>
      </div>
    </div>

    <div class="goods_center">
      <el-button type="primary" @click="addcategory">新增</el-button>
      <el-dialog title="新增品类" :visible.sync="dialog" width="30%">
        <el-form :model="Newcategory.Singles">
          <el-form-item label="父级品类" label-width="80px">
            <el-select v-model="ond" placeholder="请选择活动区域">
              <el-option
                :label="item.name"
                :value="item.id"
                v-for="item in Newcategory.from"
                :key="item.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="名称" label-width="80px">
            <el-input
              v-model="Newcategory.mingcheng"
              autocomplete="off"
            ></el-input>
          </el-form-item>
        </el-form>
        <el-button @click="dialog = false">取 消</el-button>
        <el-button type="primary" @click="dialogss">确 定</el-button>
      </el-dialog>
    </div>

    <div class="goods_center_l">
      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="name" label="名称" width="500" fit>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button size="mini" @click="Modify(scope.$index, scope.row)"
              >修改</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <el-dialog
        title="修改品类[]名称"
        :visible.sync="dialogVisible"
        width="30%"
      >
        <el-form :model="Singles">
          <el-form-item label="名称" label-width="40px">
            <el-input v-model="from" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisibless">确 定</el-button>
      </el-dialog>
    </div>
    <div>
      <el-pagination
        background
        hide-on-single-page
        layout="prev, pager, next"
        :total="581"
        @current-change="handleCurrentChange"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: [
        {
          title:'首页',
          pathName:'Menu'
        },
        {
          title:'一级品类管理',
          pathName:'Category'
        },
        {
          title:'二级品类管理',
        },
      ],
      dialogVisible: false,
      dialog: false,
      category: [this.$route.query.order],
      tableData: [],
      Singles: [],
      from: [],
      Newcategory: {
        from: [],
        singles: [],
        mingcheng: "",
      },
      value: [],
      length: {},
      ond: "",
    };
  },
  created() {
    this.subclasss();
  },
  methods: {
    async subclasss() {
      const res = await this.$axios(
        `manage/category/get_category.do?categoryId=${this.category}`,
        "GET"
      );

      this.tableData = res.data.slice(0, 10);
      this.length = res.data.length;
    },

    async dialogVisibless() {
      const res = await this.$axios(
        `manage/category/set_category_name.do?categoryId=${this.Singles.id}&categoryName=${this.from}`,
        "POST"
      );
      (this.dialogVisible = false),
        this.$message({
          showClose: true,
          message: res.data,
          type: "success",
        }),
        this.subclasss();
    },

    async handleCurrentChange(val) {
      const res = await this.$axios(
        `manage/category/get_category.do?categoryId=${this.category}`,
        "GET"
      );
      // console.log(res);
      this.tableData = res.data.slice((val - 1) * 10, (val - 1) * 10 + 10);
    },
    Modify(index, row) {
      this.Singles = row;
      this.from = row.name;
      this.dialogVisible = true;
    },
    //新增
    async addcategory() {
      this.dialog = true;
      const res = await this.$axios(
        `manage/category/get_category.do?categoryId=0`,
        "GET"
      );
      this.Newcategory.from = res.data;
    },
    async dialogss() {
      const res = await this.$axios(
        `manage/category/add_category.do?parentId=${this.ond}&categoryName=${this.Newcategory.mingcheng}`,
        "POST"
      );
      this.$message({
        showClose: true,
        message: res.data,
        type: "success",
      }),
        (this.dialog = false);
      this.Newcategory.mingcheng = "";
    },
  },
};
</script>

<style>
.goods {
  box-sizing: border-box;
  font-size: 18px;
  padding: 20px 0px 20px 20px;
  background: #fff;
}
.goods_nav {
  box-sizing: border-box;
  height: 100%;
  background: #f0f2f5;
}
.goods_top h3 {
  font-size: 20px;
  color: rgb(0, 0, 0, 0.85);
}
.goods_center {
  box-sizing: border-box;
  margin: 20px 20px 0 20px;
  padding: 30px;
  background: #fff;
}
.goods_center_l {
  margin: 0 20px 20px 20px;
}
</style>