<template>
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item v-for="(item, index) in arr" :key="index">
        <span v-if="item.pathName">
          <router-link :to="{ name: item.pathName }">{{
            item.title
          }}</router-link>
        </span>
        <span v-else>
          {{ item.title }}
        </span>
      </el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>

<script>
export default {
  props: ["arr"],
  directives: {
    isTo: {
      inserted: function (el, binding) {
        el.setAttribute("to", binding.value.pathName);
      },
    },
  },
};
</script>

<style>
</style>